PRIVATE_KEY=0xyour_private_key_here

POLKADOT_RPC_URL=https://services.polkadothub-rpc.com/testnet
POLKADOT_WS_URL=wss://asset-hub-paseo-rpc.n.dwellir.com

PEOPLE_PASEO_WS_URL=wss://people-paseo.rpc.amforc.com
PEOPLE_PASEO_BENEFICIARY=5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY

XCM_VERSION=5
XCM_TRANSFER_AMOUNT=10000000000
XCM_LOCAL_FEE_AMOUNT=100000000
XCM_REMOTE_FEE_AMOUNT=100000000
SUBSTRATE_WS_RETRIES=3
SUBSTRATE_WS_RETRY_DELAY_MS=1500
XCM_RESULT_TIMEOUT_MS=180000
XCM_RESULT_POLL_MS=5000
