PRIVATE_KEY=0xyour_private_key_here

POLKADOT_RPC_URL=https://services.polkadothub-rpc.com/testnet
POLKADOT_WS_URL=wss://asset-hub-paseo-rpc.n.dwellir.com

MOONBASE_RPC_URL=https://rpc.api.moonbase.moonbeam.network
MOONBASE_WS_URL=wss://wss.api.moonbase.moonbeam.network

MOONBASE_PARA_ID=1000
XCM_FEE_WEI=10000000000000000
XCM_TRANSACT_GAS_LIMIT=300000
XCM_TRANSACT_REF_TIME=5000000000
XCM_TRANSACT_PROOF_SIZE=200000
SUBSTRATE_WS_RETRIES=3
SUBSTRATE_WS_RETRY_DELAY_MS=1500
